.body.active-popup{
    overflow: hidden;
}

.btn-popup{
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font: 18px;
}

.popup, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay{
    background: rgba(51, 45, 45, 0.8);
}

.close-popup{
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.popup-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgb(238, 205, 205);
    padding: 14px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    justify-content: center;
}

.page{
    background-color: rgb(212, 192, 230);
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
}